projects:
  default:
    schema: https://countries.trevorblades.com/
    documents: graphql/**.graphql
    extensions:
      turms:
        out_dir: examples/api
        plugins:
          - type: turms.plugins.enums.EnumsPlugin
          - type: turms.plugins.inputs.InputsPlugin
          - type: turms.plugins.fragments.FragmentsPlugin
          - type: turms.plugins.operations.OperationsPlugin
          - type: turms.plugins.funcs.FuncsPlugin
        processors:
          - type: turms.processors.black.BlackProcessor
        scalar_definitions:
          uuid: str
  beast:
    schema: tests/schemas/beasts.graphql
    documents: tests/documents/beasts/**.graphql
    extensions:
      turms:
        out_dir: gg
        plugins:
          - type: turms.plugins.enums.EnumsPlugin
          - type: turms.plugins.inputs.InputsPlugin
          - type: turms.plugins.fragments.FragmentsPlugin
          - type: turms.plugins.operations.OperationsPlugin
            arguments_allow_population_by_field_name: True
          - type: turms.plugins.funcs.FuncsPlugin
            argument_key_is_styled: True
            global_args:
              - type: gql.client.AsyncClientSession
                key: client
            definitions:
              - type: query
                use: api.proxies.execute
                is_async: True
              - type: mutation
                use: api.proxies.execute
                is_async: True
        stylers:
          - type: turms.stylers.capitalize.CapitalizeStyler
          - type: turms.stylers.snake_case.SnakeCaseStyler
        processors:
          - type: turms.processors.black.BlackProcessor
        scalar_definitions:
          uuid: str
