[tool.poetry]
name = "turms"
version = "0.2.3"
description = "graphql-codegen powered by pydantic"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
readme = "README.md"
packages = [{include = "turms"}]

[tool.poetry.dependencies]
python = "^3.9"
rich = "^11.0.0"
graphql-core = "^3.2.0"
pydantic = "^1.9.0"
PyYAML = ">=5.3.0"
black = { version = "^22.1.0", optional = true }
watchdog = {version = "^2.1.6", optional = true}
astunparse = {version = "^1.6.3",python = ">=3.7,<3.9"}
isort = { version ="^5.10.1", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^0.3.0"
pytest-cov = "^3.0.0"
tox = "^3.24.5"
isort = "^5.10.1"
black = "^22.1.0"


[tool.poetry.extras]
watch = ["watchdog"]
black = ["black"]
isort = ["isort"]

[tool.poetry.scripts]
turms = "turms.cli.main:entrypoint"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = [ "turms" ]

[tool.pydoc-markdown.renderer]
type = "docusaurus"
docs_base_path = "website/docs"
