[tool.poetry]
name = "turms"
version = "0.1.4"
description = "graphql-codegen powered by pydantic"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
readme = "README.md"
packages = [{include = "turms"}]

[tool.poetry.dependencies]
python = "^3.9"
rich = "^11.0.0"
graphql-core = "^3.2.0"
pydantic = "^1.9.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^0.3.0"
tox = "^3.24.3"
pytest-cov = "^3.0.0"
black = "^21.12b0"

[tool.poetry.scripts]
turms = "turms.cli.main:entrypoint"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = [ "turms" ]

[tool.pydoc-markdown.renderer]
type = "docusaurus"

